@model SquadManager.Models.UserViewModel
@{ 
    ViewData["Title"] = "Editar Conta";
}

<link href="~/css/user.css" rel="stylesheet" />

<section>
    <h2>Editar Conta</h2>
    <hr />
    <form>
        @Html.HiddenFor(o => o.UserId)
        @Html.HiddenFor(o => o.PersonId)
        <input value="@Model.Username" class="form-control" required id="username" placeholder="Username" />
        <input value="@Model.Email" class="form-control" required type="email" id="email" placeholder="E-mail" />
        <input class="form-control" required type="password" id="password" placeholder="Senha" />
        <input class="form-control" required type="password" id="confirmPassword" placeholder="Confirmar Senha" />
        <div class="error">
            <span hidden>Senhas diferentes</span>
        </div>
        <button class="btn btn-primary">Salvar</button>
    </form>
</section>

@section Scripts{
    <script src="~/js/user.js"></script>
    <script>
        changeMenu('user')
    </script>
}