@{
    Layout = null;
    ViewData["Tittle"] = "Esqueceu a senha";
}

<link href="~/css/login.css" rel="stylesheet" />

<section>
    <h1>Esqueceu a senha?</h1>
    <form>
        <input required type="email" id="email" placeholder="E-mail" />
        <button>Enviar</button>
    </form>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/forgot.js"></script>