@model SquadManager.Models.UserViewModel 

@{ 
    Layout = null;
}

<section>
    <h1>Autenticação</h1>
    <input type="text" name="email" value="" placeholder="Username/e-mail" />
    <input type="password" name="password" value="" placeholder="Senha" />
    <a href="#">Esqueceu a senha?</a>

    <button>Login</button>

    <label>Não tem conta?</label> <a href="#">Crei aqui</a>
</section>