@model SquadManager.Models.UserViewModel

@{
    Layout = null;
    ViewData["Tittle"] = "Login";
}
<link href="~/css/login.css" rel="stylesheet" />

<section>
    <h1>Autenticação</h1>

    <form>
        <input type="email" id="email" name="email" value="@Model.Email" placeholder="Username/e-mail" />
        <input type="password" required id="password" name="password" value="@Model.Password" placeholder="Senha" />
        <a href="#">Esqueceu a senha?</a>

        <button type="submit">Login</button>
    </form>

    <label>Não tem conta? <a href="/Login/SignUp">Crei aqui</a></label>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/login.js"></script>