@model SquadManager.Models.UserViewModel

@{
    Layout = null;
}
<link href="~/css/login.css" rel="stylesheet" />

<section>
    <h1>Autenticação</h1>

    <form action="/Login/Test" method="post">
        <input type="email" name="email" value="@Model.Email" placeholder="Username/e-mail" />
        <input type="password" name="password" value="@Model.Password" placeholder="Senha" />
        <a href="#">Esqueceu a senha?</a>

        <button type="submit">Login</button>
    </form>

    <label>Não tem conta? <a href="#">Crei aqui</a></label>
</section>