@{
    Layout = null;
    ViewData["Tittle"] = "Criar conta";
}

<link href="~/css/login.css" rel="stylesheet" />

<section>
    <h1>Crie sua conta de graça!</h1>
    <form>
        <input placeholder="Username" />
        <input placeholder="E-mail" />
        <input placeholder="Senha" />
        <input placeholder="Confirmar Senha" />
        <button>Criar</button>
    </form>
</section>