@{
    Layout = null;
    ViewData["Tittle"] = "Criar conta";
}

<link href="~/css/login.css" rel="stylesheet" />

<section>
    <h1>Crie sua conta de graça!</h1>
    <form>
        <input id="username" placeholder="Username" />
        <input id="email" placeholder="E-mail" />
        <input id="password" placeholder="Senha" />
        <input id="confirmPassword" placeholder="Confirmar Senha" />
        <button>Criar</button>
    </form>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/signUp.js"></script>