<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SquadManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
</head>
<body>
    <header>
        <nav>
            <div>
                <i class="fas fa-home"></i>
                <a data-menu="home" href="/Home">Home</a>
            </div>
            <ul>
                <li class="btn btn-active" data-menu="user">
                    <a href="/User">Conta</a>
                </li>
                <li class="btn" data-menu="person">
                    <a href="/Home">Pessoas</a>
                </li>
                <li class="btn" data-menu="squad">
                    <a href="/Home">Squads</a>
                </li>
                <li class="btn" data-menu="task">
                    <a href="/Home">Tarefas</a>
                </li>
            </ul>
        </nav>
    </header>
    <content>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - SquadManager
            </div>
        </footer>
    </content>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
